[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
amqp = "*"
argparse = "*"
arrow = "*"
billiard = "*"
celery = "*"
dj-database-url = "*"
gunicorn = "*"
kombu = "*"
postgres = "*"
"psycopg2-binary" = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
vine = "*"
whitenoise = "==3.2.3"
wsgiref = "*"


[requires]

python_version = "2.7"
